.home{
    background-image:url(../../images/background.png);
    background-size: cover;
    background-position: bottom;
    width: 90%;
    margin:auto;
    margin-bottom: 4%;
    border-radius: 9px;
    position:relative;
    box-shadow: -1px -1px 17px 1px white;
    position: relative;
    height: 88vh;
}
.home .h5{
    color: darkkhaki;
}
.home .content{
    width: 90%;
    color: white;
    position: absolute;
    top: 35%;
    left:8%;
}
.list-icons{
    display: flex;
}
.list-icons .icon{
    margin-right: 3%;
    cursor: pointer;
}
.list-icons .icon:hover{
    color: #b10b5e;
}
.home .content .btn-content{
    border-radius: 17px;
    cursor: pointer;
    color: #dad3d3;
    font-weight: bold;
    border: 1px solid transparent;
    background-color: #3c6572;
}
.btn-content a{
    text-decoration: none;
    color: #dad3d3;
}
.home .content .btn-content:hover{
    background-color: #4e6167;
}
.home .content .btn-content:focus{
    outline:none
}

 



 

