.home{
    background-image:url(../images/background.png);
    background-size: cover;
    background-position: bottom;
    width: 90%;
    margin:auto;
    margin-top: 2%;
    border-radius: 9px;
    position:relative;
    box-shadow: -1px -1px 17px 1px white;
    padding-bottom: 15%;
}
.home .h5{
    color: darkkhaki;
}
.home .content{
    width: 90%;
    color: white;
    padding-top: 19%;
    padding-left: 8%;
}
.list-icons{
    display: flex;
}
.list-icons .icon{
    margin-right: 3%;
    cursor: pointer;
}
.list-icons .icon:hover{
    color: #b10b5e;
}
.home .content .btn-content{
    border-radius: 17px;
    cursor: pointer;
    color: #dad3d3;
    font-weight: bold;
    border: 1px solid transparent;
    background-color: #3c6572;
}
@keyframes move {
    0%   {margin-top: 0;}
    50%  {margin-top: 10px;}
    100% {margin-top:0px;}
  }
.btn-content a{
    text-decoration: none;
    color: #dad3d3;
}
.home .content .btn-content:hover{
    background-color: #4e6167;
}
.home .content .btn-content:focus{
    outline:none
}

 section .num-pg{
    position: absolute;
    bottom: 3%;
    left: 4%;
}
 section .num-pg .num{
    font-size: 42px;
    color:white;
}
 section .num-pg .under-line{
    width: 41px;
    border: 2px solid #05968e;
}

@media screen and (max-width:600px){
section .num-pg .under-line {
    width: 35px;
    border: 1.7px solid #05968e;
}
}
@media screen and (max-width:480px){

.home .num-pg .num {
     font-size: 30px;
     color: white;
 }
.home .num-pg .under-line {
     width: 30px;
     border: 1.6px solid #05968e;
 }
 .list-icons i {
     margin-right: 5%;
 }
 .list-icons {
    margin-bottom: 4%;
    margin-left: 2%;
}
 }
 
@media screen and (max-width:320px){
section.home .num-pg .under-line {
    width: 30px;
    border: 1.6px solid #05968e;
}
.list-icons i {
    margin-right: 5%;
}
}

