.home{
    background-image:url(../images/background.png);
    background-size: cover;
    background-position: bottom;
    width: 90%;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 9px;
    position:relative;
    box-shadow: -1px -1px 17px 1px white;
}
.home .h5{
    color: darkkhaki;
}
.home .content{
    width: 90%;
    color: white;
    padding-top: 19%;
    padding-left: 8%;
}
.home .content .disc-content{
    font-size: Calc(30px + 2vw);
    margin-bottom: Calc(27px - 1.5vw);
}
.home .content .job-content{
    font-size: Calc(8px + 2vw);
    display: block;
    margin-bottom: Calc(27px - 1.5vw);
}
.list-icons{
    margin-bottom: Calc(27px - 1.5vw);
}
.list-icons i{
    margin-right: 2%;
    font-size: 1.1rem;
    cursor: pointer;
    color: #b5a9a9;
}
.list-icons i:hover{
    color: #b10b5e;
}
.home .content .btn-content{
    width: 115px;
    padding: 12px;
    border-radius: 17px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 2%;
    color: #dad3d3;
    font-weight: bold;
    border: 1px solid transparent;
    margin-bottom: 24%;
    background-color: #3c6572;
   /* animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;*/
}
@keyframes move {
    0%   {margin-top: 0;}
    50%  {margin-top: 10px;}
    100% {margin-top:0px;}
  }
.btn-content a{
    text-decoration: none;
    color: #dad3d3;
}
.home .content .btn-content:hover{
    background-color: #4e6167;
}
.home .content .btn-content:focus{
    outline:none
}

 section .num-pg{
    position: absolute;
    top: 88%;
    left: 4%;
}
 section .num-pg .num{
    font-size: 42px;
    color:white;
}
 section .num-pg .under-line{
    width: 41px;
    border: 2px solid #05968e;
}
@media screen and (max-width:800px){
.home .num-pg {
    position: absolute;
    top: 85%;
    left: 4%;
}
 .list-icons {
    margin-bottom: 4%;
    margin-left: 2%;
}
.home .content .btn-content {
    margin-top:0;
    padding: 12px;
    margin-bottom: 40%;
}
section .num-pg .num {
    font-size: 42px;
    color: white;
}
}
@media screen and (max-width:600px){
    .home .num-pg {
        position: absolute;
        top: 87%;
        left: 4%;
    }
 .list-icons {
    margin-bottom: 4%;
    margin-left: 2%;
}
.home .content .btn-content {
    margin-top:0;
    padding: 12px;
    margin-bottom: 40%;
}
section .num-pg .num {
    font-size: 35px;
    color: white;
}
section .num-pg .under-line {
    width: 35px;
    border: 1.7px solid #05968e;
}
}
@media screen and (max-width:480px){
.home .num-pg{
    top: 89%;
}
.home .num-pg .num {
     font-size: 30px;
     color: white;
 }
.home .num-pg .under-line {
     width: 30px;
     border: 1.6px solid #05968e;
 }
 .list-icons i {
     margin-right: 5%;
 }
 .list-icons {
    margin-bottom: 4%;
    margin-left: 2%;
}
.home .content .btn-content {
    margin-top:0;
    padding: 6px;
    margin-bottom: 40%;
}
 }
 
@media screen and (max-width:320px){
section.home .num-pg{
    position: absolute;
    top: 85%;
    left: 4%;
}
section.home .num-pg .num {
    font-size: 30px;
    color: white;
}
section.home .num-pg .under-line {
    width: 30px;
    border: 1.6px solid #05968e;
}
.list-icons i {
    margin-right: 5%;
}
}

