.home{
    background-image:url(../images/background.png);
    background-size: cover;
    background-position: bottom;
    width: 90%;
    margin:auto;
    margin-top: 2%;
    border-radius: 9px;
    position:relative;
    box-shadow: -1px -1px 17px 1px white;
    padding-bottom: 15%;
}
.home .h5{
    color: darkkhaki;
}
.home .content{
    width: 90%;
    color: white;
    padding-top: 19%;
    padding-left: 8%;
}
.list-icons{
    display: flex;
}
.list-icons .icon{
    margin-right: 3%;
    cursor: pointer;
}
.list-icons .icon:hover{
    color: #b10b5e;
}
.home .content .btn-content{
    border-radius: 17px;
    cursor: pointer;
    color: #dad3d3;
    font-weight: bold;
    border: 1px solid transparent;
    background-color: #3c6572;
}
@keyframes move {
    0%   {margin-top: 0;}
    50%  {margin-top: 10px;}
    100% {margin-top:0px;}
  }
.btn-content a{
    text-decoration: none;
    color: #dad3d3;
}
.home .content .btn-content:hover{
    background-color: #4e6167;
}
.home .content .btn-content:focus{
    outline:none
}

 


@media screen and (max-width:480px){
.list-icons i {
     margin-right: 5%;
 }
 .list-icons {
    margin-bottom: 4%;
    margin-left: 2%;
}
 }
 
@media screen and (max-width:320px){
.list-icons i {
    margin-right: 5%;
}
}

