*{
    margin: 0;
}
html {
	scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;
    background: #030f0f;
}
.head-page{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 6%;
    padding-top: 3%;
	text-decoration: underline #05968e;
}
a{
    color:white !important;
    text-decoration: none;
}
li::marker{
    color:rgb(255, 0, 0) !important;
}
.MuiButton-root{
    color: rgba(255, 255, 255, 0.87) !important;
}  
.MuiDivider-root {
    background-color: rgba(255, 255, 255, 0.12)!important;
}
